* {
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
    background-color: gray;
}

body {
    display: block;
    background-color: rgb(4, 97, 97);
    font-size: 18px;
}

header {
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 40px 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    background-color: rgb(3, 84, 84);
    color: azure;
}


h1 {
    text-align: center;
    font-size: 3em;
    margin: 30px;
}


h2 {
    display: block;
    margin-left: 20px;
    text-align: left;
    font-size: 3em;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    color: aliceblue;

}


ul {
    text-align: center;
}


li, a {
    display: inline;
    padding: 20px;
    margin: 20px;
    color: aliceblue;
    font-size: 25px;

}


p {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    text-align: left;
    display: inline;
}

section {
    padding: 150x 150px;
    background-color:  rgb(57, 246, 50);
    display: block;
    width: 90%;
    margin: 0 auto;
}



.smaller-image {
    width: 400px;
    margin-left: 150px;
    margin-top: 100px;
    position: relative;
    top: 100px;
}



.work {
    padding: 50px;
}

.images {
    width: 300px;
    padding: 30px;
    position: relative;
    left: 50px;
}

.images2 {
    height: 300px;
    padding: 30px;
    position: relative;
    left: 50px;
}

.images3 {
    width: 500px;
    height: 500px;
    padding: 30px;
    position: relative;
    left: 50px;
}


.relative-1 {
    margin: 50px 300px;
    max-width: 700px;
    position: relative;
    bottom: 250px;
    left: 400px;
}

#top {
    margin-top: 100px;

}

#imagelinks {
    padding: 100px 100px;
}